body {
  font-family: 'Roboto', sans-serif;
  background: white;
  margin: 0px;
}
.object {
  margin: 0 0 15px 0;
}
.logo{
  max-height: 50px;
  display: inline;
}
.header{
  background: #2C3E50;
  color: white;
  padding: 10px 30px;
  margin: 0px 0px 15px 0px;
}
.header h1 {
  display: inline;
  padding-left: 10px;
  font-weight: bold;
  font-size: 2.5em;
}
.symbol {
  position: relative;
  float: right;
}
.heading{
  background: #ddd;
  border: 1px solid #333;
  padding: 0px 10px;
  border-radius: 5px 5px 0px 0px;
  cursor:pointer;
}
.content {
  border: 1px solid #333;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  -moz-transition: height .5s, padding .5s;
  -ms-transition: height .5s, padding .5s;
  -o-transition: height .5s, padding .5s;
  -webkit-transition: height .5s, padding .5s;
  transition: height .5s, padding .5s;
  overflow: hidden;
}
.spaceout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.value {
  text-align: right;
}
.report {
  margin: 0 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: space-around;
}
.report th {
  text-align: left;
}
.no-border {
  border: 0px;
}
.graph {
  max-height: 470px;
}
.chart-error-barchart .ct-series-a .ct-bar{
  stroke: blue;
}
.centeredText {
  text-align:center;
}
.redText {
  color: red;
}
.blueText {
  color: blue;
}
